---
layout: base
---

<section class="usa-hero" aria-label="Introduction">
  <span class="usa-sr-only" role="img" aria-label="Photograph of Alexander Calder's Flamingo sculpture in front of a federal building."></span>
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading">
        <span class="usa-hero__heading--alt">Welcome to the nation's art</span>
      </h1>
    </div>
  </div>
  <div class="usa-hero__credit">
    <div><em>Flamingo</em>, Alexander Calder</div>
    <div>Photograph by Carol M. Highsmith</div>
  </div>
</section>

<section class="home-actions">
  <div class="">
    <div class="home-actions__row">
      <a href="" class="home-actions__block">
        <div class="home-actions__body">
          <h2 class="home-actions__heading">
            Search the collection
            <!-- <i class="fa-solid fa-circle-chevron-right"></i> -->
          </h2>
          <p>
            Explore the nation's largest public art collection
          </p>
        </div>
      </a>
      <a href="" class="home-actions__block">
        <div class="home-actions__body">
          <h2 class="home-actions__heading">
            Attend an event
            <!-- <i class="fa-solid fa-circle-chevron-right"></i> -->
          </h2>
          <p>
            Sign up for virtual or in-person tours
          </p>
        </div>
      </a>
      <a href="" class="home-actions__block">
        <div class="home-actions__body">
          <h2 class="home-actions__heading">
            See what's new
            <!-- <i class="fa-solid fa-circle-chevron-right"></i> -->
          </h2>
          <p>
            Learn more about our most recent additions
          </p>
        </div>
      </a>
      <a href="" class="home-actions__block">
        <div class="home-actions__body">
          <h2 class="home-actions__heading">
            Visit art
            <!-- <i class="fa-solid fa-circle-chevron-right"></i> -->
          </h2>
          <p>
            Discover incredible art all over the country
          </p>
        </div>
      </a>
    </div>
  </div>
</section>

<div class="grid-container">
  {{ content }}
</div>
